In [1]:
import pandas as pd 
data = [4, 8, 15, 16, 23, 42]
df = pd.DataFrame(data)
print(df)

    0
0   4
1   8
2  15
3  16
4  23
5  42

In [2]:
#Q.2> Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#     variable print it.
import pandas as pd 
data =  ["sarfraj" , "abshar" , "abhishek" , "faizan" , "hammad" , "asif" , "arsalan" , "faiz" , "nesat" ,"nemat"]
df = pd.DataFrame(data)
print(df)

          0
0   sarfraj
1    abshar
2  abhishek
3    faizan
4    hammad
5      asif
6   arsalan
7      faiz
8     nesat
9     nemat

In [3]:
#Q.3> Create a Pandas DataFrame that contains the following data:
#     Then, print the DataFrame.
import pandas as pd 
data = {'Name': ['Alice' ,  'Bob' ,  'Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
'''Q.4> What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
   Ans>  In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially 
         different data types. It is similar to a spreadsheet  or a  SQL table. In a DataFrame , data is 
         organized in rows and columns, where each column can be considered as a Pandas Series.

         On the other hand, a Series in Pandas is a one-dimensional labeled array that can contain data of any 
         data type, including integers, strings, and floating-point numbers. It is similar to a column in a 
         spreadsheet or a SQL table.

         The main difference between a DataFrame and a Series is that a DataFrame is a two-dimensional data 
         structure with rows and columns, while a Series is a one-dimensional data structure with only one column.
         Here's an example to illustrate the difference between a DataFrame and a Series:

         Suppose we have the following data:
         Name(Alice , Bob, Charlie) , Age(25, 3, 35) , Gender (Female,Male ,Male)
         We can represent this data using a DataFrame in Pandas as follows:'''
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Gender': ['Female', 'Male', 'Male']}

df = pd.DataFrame(data)

print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male

In [ ]:
#Q.5> What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
     #you give an example of when you might use one of these functions?

# Pandas is a powerful data manipulation library in Python, and it provides numerous built-in functions to manipulate data in a DataFrame. Some common functions that you can use to manipulate data in a Pandas DataFrame include:

# head(): This function allows you to view the first few rows of a DataFrame. For example, you can use df.head() to quickly inspect the top rows of a DataFrame and get an overview of its contents.

# tail(): This function allows you to view the last few rows of a DataFrame. For example, you can use df.tail() to quickly inspect the bottom rows of a DataFrame and verify the data.

# info(): This function provides detailed information about the DataFrame, including the data types of each column, the number of non-null values, and memory usage. For example, you can use df.info() to get a summary of the DataFrame's structure and data types.

# describe(): This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, and quartile values. For example, you can use df.describe() to get a statistical summary of the numeric columns in the DataFrame.

# sort_values(): This function allows you to sort the DataFrame by one or more columns. You can specify the column(s) to sort by and the sorting order (ascending or descending). For example, you can use df.sort_values('column_name', ascending=False) to sort the DataFrame by a specific column in descending order.

# groupby(): This function is used for grouping data in a DataFrame based on one or more columns. You can then apply various aggregate functions, such as sum(), mean(), count(), etc., on the grouped data. For example, you can use df.groupby('column_name').mean() to calculate the mean of a specific column grouped by another column.

# fillna(): This function is used to fill missing values in a DataFrame with a specified value or using a specified method, such as forward fill or backward fill. For example, you can use df.fillna(0) to replace all the missing values in a DataFrame with zeros.

# drop(): This function is used to drop specified rows or columns from a DataFrame. You can specify the rows or columns to drop by passing their labels or indexes. For example, you can use df.drop('column_name', axis=1) to remove a specific column from the DataFrame.

# merge(): This function is used to merge two or more DataFrames based on common columns. You can specify the columns to merge on, as well as the type of merge (inner, outer, left, or right). For example, you can use pd.merge(df1, df2, on='common_column') to merge two DataFrames based on a common column.

# pivot_table(): This function is used to create a pivot table from a DataFrame. You can specify the values, index, and columns to use in the pivot table, as well as the aggregation function to apply. For example, you can use pd.pivot_table(df, values='value_column', index='index_column', columns='column_name', aggfunc='mean') to create a pivot table with mean values for a specific value column, indexed by a certain column, and with columns defined by another column.

# These are just a few examples of the many functions available in Pandas for data manipulation in a DataFrame. Depending on your specific data analysis requirements, you may need to use other functions as well to clean, transform, and analyze your data effectively.

import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'],
                   'Age': [25, 32, 28, 22, 30],
                   'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']})

# Use head() to view the first 3 rows of the DataFrame
print(df.head(3))



import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'],
                   'Age': [25, 32, 28],
                   'City': ['New York', 'Los Angeles', 'Chicago']})

# Use info() to get information about the DataFrame
print(df.info())

# Output:
# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 3 entries, 0 to 2
# Data columns (total 3 columns):
#  #   Column  Non-Null Count  Dtype 
# ---  ------  --------------  ----- 
#  0   Name    3 non-null      object
#  1   Age     3 non-null      int64 
#  2   City    3 non-null      object
# dtypes: int64(1), object(2)
# memory usage: 203.0+ bytes
# None

# Use describe() to get statistical summary of the DataFrame
print(df.describe())

# Output:
#             Age
# count   3.000000
# mean   28.333333
# std     3.055050
# min    25.000000
# 25%    26.500000
# 50%    28.000000
# 75%    30.000000
# max    32.000000
Using sort_values():
python


import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'],
                   'Age': [25, 32, 28],
                   'City': ['New York', 'Los Angeles', 'Chicago']})

# Sort the DataFrame by 'Age' column in ascending order
df_sorted = df.sort_values('Age', ascending=True)

print(df_sorted)

In [ ]:
Q.6> Which of the following is mutable in nature Series, DataFrame, Panel?
Ans> In Pandas, both Series and DataFrame are mutable in nature, while Panel is considered deprecated 
     and has been replaced by multi-dimensional arrays, such as numpy.ndarray or xarray.DataArray, 
     which are also mutable.

     In a mutable object, the contents of the object can be modified after it is created. This means 
     that you can add, remove, or update elements in a Series or DataFrame after they are created.

In [ ]:
#Q.7> Create a DataFrame using multiple Series. Explain with an example.
import pandas as pd

# Create a Series for each column of data
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Emily'])
ages = pd.Series([25, 30, 35, 40, 45])
genders = pd.Series(['Female', 'Male', 'Male', 'Male', 'Female'])

# Combine the Series into a DataFrame
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# Print the resulting DataFrame
print(df)